* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(421deg, #8b9043, #b62828, #161576f2, #6e2284);
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #0b0b42;

}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 10px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(170, 176, 250);
    font-size: 1.01rem;
}

main hr {
    border: 0;
    height: 1.3px;
    background-color: #bc60e6;
    margin: 21px 40px;
}

.left {
    font-size: 1.3rem;
    /* background behind the text */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: url(gradient-background.jpg);
    background-size: cover;
    background-position: center;


}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;

}

.firstSection div {
    width: 65%;

}

.leftSection {
    /* background-color: red; */
    font-size: 3rem;
    margin: 38px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 1.4em;
    background: linear-gradient(421deg, #8b9043, #b62828, #6e2284);
    ;
    border: 2px solid gray;
    border-radius: 30em;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 8px 7px 6px #7d2727, -1px 0px 8px #aa3333;

}

.btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;

    /* background-image: linear-gradient(to right,#0fd850 0%,#f9f047 100%); */
    /* transition: .5s ease; */
    display: block;
    z-index: -1;

}

.btn a {
    color: #121212;
    text-decoration: none;

}

.btn:hover {
    transform: scale(1.2);
    transition: all 0.15s linear;


}


.rightSection img {
    filter: drop-shadow(10px 10px 20px black);
    width: 78%;
    height: 88%;
}

.color1 {
    color: rgb(31, 11, 84);
}

#element {
    color: chartreuse;
}

.right {
    border: 1px solid blueviolet;
    border-radius: 8px;

}

/* Second section */
.section-2 {
    max-width: 80vw;
    margin: auto;
}

.section-2 h1 {
    font-size: 1.8rem;
    /* font-family: 'Montserrat', sans-serif; */
}

.color2 {
    color: rgb(155, 154, 153);
}

.section-2 .box {
    background: rgb(94 94 94);
    width: 146vh;
    height: 1px;
    margin: 54px 0;
    display: flex;
}

.section-2 .vertical {

    height: 324px;
    width: 1px;
    background-color: rgb(107 104 104);
    margin: -63px 97px;
}

.img-devl {
    position: relative;
    top: 9px;
    width: 72px;
    height: 57px;
}

.vertical-Title {
    position: relative;
    top: 23px;
    width: 257px;
    color: #aaf2ba;
    font-size: 19px;
}

.vertical-Desription {
    position: relative;
    top: 35px;
    width: 187px;
    font-size: 12px;
}

footer {

    height: 23vh;

}

.footer {
    display: flex;
    margin: 220px 160px;
    justify-content: start;
}

.footer-rights {
    display: flex;
    justify-content: center;
    margin: -64px
}

/* Social-media icon styling */
.icon {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.icon a {
    height: 80px;
    width: 80px;
    background-color: rgb(225, 214, 214);
    border-bottom-left-radius: 35px;
    border-top-right-radius: 50px;
    /* border-radius: 50px; */
    text-align: center;

    margin: 10px;

    line-height: 115px;
    box-shadow: 1px 4px 2px 2px gray;
}

.icon a i {
    transition: all 0.2s linear;
}

.icon a i:hover {
    transform: scale(1.3);
}

.fa-facebook {
    color: rgb(4, 55, 117);
}

.fa-twitter {
    color: rgb(0, 172, 238);
}

.fa-linkedin {
    color: rgb(0, 119, 181);
}